.nav-link{
    font-family: 'Gloock', serif;
}
.introduction{
    background-color: #f6f4e8;
}
.introduction-figure{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	background-color: #f6f4e8;
    width: fit-content;
    height: 30%;
    margin-left: 15px;
    margin-bottom: 0;
}
.img-intro{
    opacity: 0.5;
}
.introduction-title, .introduction-subtitle{
    width: 100%;
    position: absolute;
    color: #3b3b3b;
    text-align: left;
    padding: 10px;
    margin-left: 30%;
}
.introduction-title{
    display: flex;
    height: 500px;
    font-size: 8em;
    font-family: 'Gloock',serif;
    line-height: 90%;
    width: 30%;
    margin-bottom: 20px;
    top: 30%;
}
.introduction-subtitle{
    font-size: 2em;
    font-family: 'Archivo', sans-serif;
    margin-top: 25%;
   
}
.biography{
    background-color: #f6f4e8;
}
.primary-subtitle, .wikipedia-text{
    color: #3b3b3b;
    margin-left: 30%;
    margin-top: 20px;
    width: 50%;
}
.primary-subtitle{
    font-family: 'Gloock', serif;
    margin-top: 20%;
}
.wikipedia-text{
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
}
.col2{
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
}
.biography-figure img{
    width: 100%;

}
.biography-figure{
    margin-top: 15%;
    width: 50%;
}

.btn{
    font-family: 'Gloock',sans-serif;
    background-color: #3b3b3b;
}

